.logo-profile {
    cursor: pointer;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    width: 50px;           
    height: 50px;          
    border-radius: 50%;   
    background-color: #f0f0f0;
    border: 2px solid #ccc;  
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
 
  .logo-profile-img {
    font-size: 24px;  
    color: #333;        
    transition: color 0.3s ease;
  }
  

  .logo-profile:hover {
    background-color: #007bff;  
    transform: scale(1.1);       
  }
  
  .logo-profile:hover .logo-profile-img {
    color: white;  
  }
  